* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utilies */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* button */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

/* nav-bar */
.nav-bar {
  background: #fff;
  padding: 20px;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-bar .container .nav-feactures ul {
  display: flex;
}

.nav-bar .container .nav-feactures ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.nav-bar .container .nav-feactures ul li a:hover {
  color: var(--primary-color);
}

.nav-bar .container .nav-feactures ul li a i {
  margin-right: 10px;
}

/* Hero section */
.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url("../images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .container .hero-content {
  width: 70%;
}

.hero .container .hero-content .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Section b */
.section-B {
  background-color: #000;
  padding: 10px 0 40px;
}

.section-B .container-sm img {
  margin-bottom: 20px;
}

.section-B .container-sm h1 {
  color: var(--light-color);
}

/* section C */
.section-c {
  padding: 40px 0;
}
.section-c .container .hedding-div {
  width: 700px;
}

.section-c .container .section-B-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-c .container .section-B-gridbox .boxes {
  background-color: var(--light-color);
  color: #000;
  padding: 20px;
  border-radius: 10px;
}

.section-c .container .section-B-gridbox .boxes .gridbox-name-corporation {
  margin-top: 50px;
}

.section-c
  .container
  .section-B-gridbox
  .boxes
  .gridbox-name-corporation
  .gridbox-name {
  font-weight: bold;
}

/* Pricing */

.section-c .pricing-gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: left;
}

.section-c .pricing-gridbox .pricing-simple,
.section-c .pricing-gridbox .pricing-primium {
  padding: 20px 20px 10px;
  border-radius: 10px;
}

.section-c .pricing-gridbox .pricing-tag {
  margin-top: 30px;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.section-c .pricing-gridbox ul {
  margin: 30px 0;
}

.section-c .pricing-gridbox ul li {
  padding: 10px 0;
}

.section-c .pricing-gridbox .button {
  width: 100%;
}

.section-c .pricing-gridbox .pricing-simple {
  background-color: var(--light-color);
  color: #333;
}

.section-c .pricing-gridbox .pricing-primium {
  background-color: #000;
  color: #fff;
}

.section-c .section-c-lower-text {
  margin-top: 30px;
}

/* FAQ group */
.section-D-FAQ .faq-content {
  color: #333;
}

.section-D-FAQ .faq-content .faq-group {
  padding-bottom: 20px;
  border-bottom: 0.5px solid #ccc;
}

.section-D-FAQ .faq-content .faq-group h4 {
  font-weight: 600;
  width: 90%;
}

.section-D-FAQ .faq-content .faq-group .faq-group-header {
  position: relative;
  padding: 20px 0;
  margin-bottom: 15px;
}

.section-D-FAQ .faq-content .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.section-D-FAQ .faq-content .faq-group .faq-group-body {
  display: none;
}

.section-D-FAQ .faq-content .faq-group .faq-group-body.open {
  display: block;
}

/* footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

/* hambeugar button */
.nav-bar .hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.nav-bar .hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
  text-align: left;
  margin-left: 20px;
}

.mobile-menu ul li {
  margin: 30px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
  color: #333;
}

.mobile-menu ul li a:hover {
  color: var(--primary-color);
}

@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 670px) {
  .nav-bar .nav-feactures {
    display: none;
  }

  .nav-bar .hamburger-button {
    display: block;
  }

  .hero .container {
    background: url("../images/hero-bg-mobile.png") no-repeat;
    background-size: 350px 400px;
    background-position: bottom;
    height: 770px;
  }

  .hero .container .hero-content,
  .hero .container .hero-content .hero-text {
    width: 100%;
    text-align: center;
  }

  .hero .hero-buttons .btn {
    display: block;
  }

  .section-c .container .hedding-div{
    width: 100%;
    text-align: center;
  }

  .section-c .container .section-B-gridbox,
  .section-c .pricing-gridbox,
  .footer-grid{
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }

  /* text */
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}
